<h4 class="text-center mb-4">Here is The Single Article</h4>

<div class="container my-5">
  <ul class="list-inline mb-4">
    <li class="list-inline-item">
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-primary" %>
    </li>
    <li class="list-inline-item">
      <%= link_to "Destroy", article_path(@article), data: { 
                    turbo_method: :delete, 
                    turbo_confirm: "Are you sure?" 
                  }, class: "btn btn-outline-danger" %>
    </li>
  </ul>

  <h1 class="display-4 mb-3"><%= @article.title %></h1>
  <h2 class="lead"><%= @article.body %></h2>
</div>
<h2>Comments</h2>
<div class="container mb-5"> 
<%= render partial: "/comments/comment", collection: @article.comments %>
</div>

<h2>Add a comment:</h2>
<%= render partial: "/comments/new_comment_form", locals: {article: @article} %>
